@import 'colours';

.card-media-description {
    margin-top: 5px;
    font-size: 36px;
    margin-left: 0px !important;

    &.positive {
        color: $positive;
    }

    &.negative {
        color: $negative;
    }
}

.card-media-title {
    font-size: 15px;
}

.card {
    border-top: solid black 3px;
}

.icon {
    width: 25px;
    height: 25px;
    margin-left: -5px;
    margin: -2px 5px 0 0;
}

clr-icon[shape="circle-arrow"] {
    color: $positive;

}

clr-icon[shape="circle-arrow down"] {
    color: $negative;

}

.card-header {
    color: $brand-green;
    font-size: 20px;
}