@import 'colours';

.card-media-description {
    margin-top: 5px;
    font-size: 36px;
    color: $positive;
    margin-left: 0px !important;
}

.card-media-title {
    font-size: 15px;
}

.icon {
    width: 25px;
    height: 25px;
    margin-left: -5px;
    margin: -2px 5px 0 0;
}


.up-down {
    color: $positive;
}

.card-header {
    color: $brand-green;
    font-size: 20px;
}