<div *ngIf="sector" class="card">
    <div class="card-header">
        <clr-icon class="icon" [attr.shape]="icon" [style.color]="colour"></clr-icon>
        {{sector.name}}
    </div>
    <div class="card-block">
        <div class="card-media-block">
            <div class="card-media-description" [ngClass]="movement">
                <span class="card-media-title">
                    <clr-icon size="17" [attr.shape]="movement === 'positive' ? 'circle-arrow' : 'circle-arrow down'">
                    </clr-icon>
                    {{sector.value}}
                </span>
            </div>
        </div>
    </div>
</div>