<div *ngIf="sector" class="card">
    <div class="card-header">
        <clr-icon class="icon" shape="computer"></clr-icon>
        {{sector.name}}
    </div>
    <div class="card-block">
        <div class="card-media-block">
            <div class="card-media-description">
                <span class="card-media-title">
                    <clr-icon class="up-down" size="17" shape="circle-arrow"></clr-icon>
                    {{sector.value}}
                </span>
            </div>
        </div>
    </div>
</div>