@import 'colours';

clr-icon {
    margin-right: 10px;
}

.icon-one {
    color: $brand-blue;
}

.icon-two {
    color: $brand-green;
}

.icon-three {
    color: $brand-purple;
}

.icon-four {
    color: $brand-red;
}

.margin-no-stock {
    margin-left: 0px;
    margin-top: 50px;
}