<app-title title="Compare"></app-title>

<form clrForm [formGroup]="tickerForm">

    <div class="clr-row">
        <div class="clr-col-2">
            <clr-input-container>
                <input clrInput formControlName="tickerCtrl" (keyup.enter)="onEnterAddTicker()" />
            </clr-input-container>
        </div>

    </div>
</form>
<div *ngIf="tickers.length>0">
    <span class="badge badge-black" *ngFor="let t of tickers">{{t}}</span>

</div>
<div *ngIf="tickers.length>1">
    <button type="button" class="btn btn-icon" aria-label="home">
        <clr-icon shape="add"></clr-icon>
    </button>

</div>