.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 150px;
    border-top: 5px solid cyan;
    display: inline-block;
    margin: 10px;
}

.card-title {
    margin-left: 10px;
}

.card-text {
    margin-left: 10px;
    margin-top: -15px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}