$brand-blue: #003E6B;
$brand-green: #044E54;
$brand-purple: #4D3DF7;
$brand-red: #FF0000;
$brand-teal: #54D1DB;

$primary-blue: #00FFFF;
$secondary-blue: #3cf;

$negative: $brand-red;
$positive: $brand-green;