@import 'colours';

:root {
    --clr-header-bg-color: black;
}

.card {
    border-top: 2px black solid;
}

.company-logo {
    background-image: url('/assets/img/logo.jpg');
    width: 100px;
    height: 35px;
    margin-top: 12px;
    margin-left: 6px;
    background-size: contain;
    background-repeat: no-repeat;
}