@import 'colours';

:root {
    --clr-header-bg-color: #01A9DB;
}

.company-logo {
    background-image: url('/assets/img/logo.png');
    width: 100px;
    height: 35px;
    margin-top: 12px;
    margin-left: 6px;
    background-size: contain;
    background-repeat: no-repeat;
}