<div class="main-container">
  <link href="https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@600&display=swap" rel="stylesheet">
  <header class="header">
    <div class="company-logo"></div>
  </header>
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
    <clr-vertical-nav [clrVerticalNavCollapsible]="true" [clrVerticalNavCollapsed]="true">
      <a class="one" clrVerticalNavLink routerLink="./home" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="home"></clr-icon>
        Home
      </a>
      <a class="two" clrVerticalNavLink routerLink="./search" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="search"></clr-icon>
        Search
      </a>
      <a class="three" clrVerticalNavLink routerLink="./popular" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="dollar-bill"></clr-icon>
        Popular Stocks
      </a>
      <a class="four" clrVerticalNavLink routerLink="./sectors" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="employee-group"></clr-icon>
        Sectors
      </a>
      <a class="five" clrVerticalNavLink routerLink="./account" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="user"></clr-icon>
        Account
      </a>
    </clr-vertical-nav>
  </div>
</div>