.main-title {
    font-size: 38px;
    margin-top: 18px;
    margin-left: 15px;
    font-family: 'Baloo Thambi 2', cursive;
}


.one {
    color: green;
}

.two {
    color: yellow;
}

.three {
    color: cyan;
}

.four {
    color: purple;
}

.five {
    color: red;
}