<div class="main-container">
  <link href="https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@600&display=swap" rel="stylesheet">
  <header class="header">
    <div class="company-logo"></div>
  </header>
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
    <clr-vertical-nav [clrVerticalNavCollapsible]="true" [clrVerticalNavCollapsed]="true">
      <a class="one" clrVerticalNavLink [routerLink]="['./home', 'MSFT']" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="home"></clr-icon>
        Home
      </a>
      <a class="one" clrVerticalNavLink routerLink="./sectors" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="users"></clr-icon>
        Sectors
      </a>
    </clr-vertical-nav>
  </div>
</div>