@import 'colours';

.card-header {
    border-top: 2px $selected solid;
}

.up-arrow {
    color: $positive;
    display: inline-block;
    margin-bottom: 1px;
}

.card-text {
    color: $positive;
}

clr-icon[shape="star"].selected {
    fill: $selected;
}

.star-shape {
    margin-left: 20px;
}