<div *ngIf="stockPrices" class="card">
    <div shape="arrow" class="card-header">
        {{companyName}}
    </div>
    <div class="card-block">
        <div class="card-title">
            {{region}} - {{symbol}} : ${{stockPrices[0].close}}
        </div>
        <div class="card-text">
            <clr-icon class="up-arrow" shape="arrow"></clr-icon>
            +0.0100%
        </div>
        <highcharts-chart *ngIf="chartOptions" [Highcharts]="Highcharts" style="width: 100%; display: block;"
                          [options]="chartOptions">
        </highcharts-chart>

        <highcharts-chart *ngIf="chartVolumeOptions" [Highcharts]="Highcharts"
                          style="width: 100%; display: block; margin-top: 100px;" [options]="chartVolumeOptions">
        </highcharts-chart>
    </div>

</div>