:root {
    --clr-header-bg-color: #01A9DB;
}

.company-logo {
    background-image: url('/assets/img/logo.png');
    width: 36px;
    height: 36px;
    background-size: contain;
    margin-top: 10px;
    margin-left: 8px;
}