<app-title title="Search"></app-title>
<div *ngIf="stockPrices">- {{searchInput}}</div>
<form clrForm [formGroup]="searchForm">
    <input class="search-bar" clrInput placeholder="Enter a ticker..." (change)="onChangeSearchInput($event)"
           formControlName="searchCtrl" />
</form>
<app-spinner [loading]="loading"></app-spinner>
<div *ngIf="stockPrices">
    <clr-datagrid>
        <clr-dg-column>
            <clr-icon shape="calendar"></clr-icon>
            Date
        </clr-dg-column>
        <clr-dg-column>
            <clr-icon shape="folder-open"></clr-icon>
            Open
        </clr-dg-column>
        <clr-dg-column>
            <clr-icon shape="arrow"></clr-icon>
            High
        </clr-dg-column>
        <clr-dg-column>
            <clr-icon shape="arrow down"></clr-icon>
            Low
        </clr-dg-column>
        <clr-dg-column>
            <clr-icon shape="window-close"></clr-icon>
            Close
        </clr-dg-column>
        <clr-dg-column>
            <clr-icon shape="volume"></clr-icon>
            Volume
        </clr-dg-column>
        <clr-dg-row *ngFor="let sp of stockPrices">
            <clr-dg-cell>{{sp.date | date:'short'}}</clr-dg-cell>
            <clr-dg-cell>{{sp.open | number}}</clr-dg-cell>
            <clr-dg-cell>{{sp.high | number}}</clr-dg-cell>
            <clr-dg-cell>{{sp.low | number}}</clr-dg-cell>
            <clr-dg-cell>{{sp.close | number}}</clr-dg-cell>
            <clr-dg-cell>{{sp.volume | number}}</clr-dg-cell>
        </clr-dg-row>

        <clr-dg-footer></clr-dg-footer>
    </clr-datagrid>
</div>