<app-title title="Home"></app-title>

<app-spinner [loading]="loading"></app-spinner>

<div class="clr-row">
    <div class="clr-col-lg-5 clr-col-md-8 clr-col-12">
        <div class="card">
            <div class="card-header">
                MICROSOFT CORPORATION
            </div>
            <div class="card-block">
                <div class="card-title">
                    NASDAQ MSFT
                </div>
                <div class="card-text">
                    $165.14
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-sm btn-link">CHART</button>
                <button class="btn btn-sm btn-link">+ FOLLOW</button>
            </div>
        </div>
    </div>
</div>