@import 'colours';

.card-header {
    border-top: 2px black solid;
}

.up-arrow {
    color: $positive;
    display: inline-block;
    margin-bottom: 1px;
}

.card-text {
    color: $positive;
}

clr-icon[shape="star"].selected {
    fill: $brand-green;
}

.star-shape {
    margin-left: 20px;
}